
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$sizes: (0,10,15,20,25,30,50);
$positions: ((t, 'top'),(l, 'left'),(b, 'bottom'),(r, 'right'));

@each $size in $sizes {
  @each $label, $position in $positions {
    .m-#{$label}-#{$size} {
      margin-#{$position}: $size + px;
    }
    .p-#{$label}-#{$size} {
      padding-#{$position}: $size + px;
    }
  }
}